#header {
  height: 300px;
  background: url("../assets/Images/header.jpg");
  background-attachment: fixed;
  background-position: 30% 100%;
  border-bottom: 2px lightgray solid;
  padding-top: 80px;
}

.homePage {
  padding-top: 0;
  margin-top: 0;
  background: url("../assets/Images/background.jpg") center/cover no-repeat
    fixed;
  height: 92vh;
  position: relative;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

.font {
  position: absolute;
  font-size: 2rem;
  color: white;
  align-items: center;
  z-index: 1;
  cursor: pointer;
  left: 49%;
  top: 85%;
  transform: translate(-50%, -50%);
  animation: bounce 2s ease infinite;
}

#main-body {
  min-height: 90vh;
}
// bootstrap class
.card-img-top {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}
// ckeditor

.ck {
  .ck-editor {
    min-width: 100%;
  }
}
.ck-editor__editable {
  max-height: 80rem;
  min-height: 20rem;
  min-width: 100rem;
}
.ck-editor__editable_inline {
  max-height: 80rem;
  min-height: 20rem;
  min-width: 100%;
}
html {
  width: 100vw;
  overflow-x: hidden;
}
textarea {
  resize: none;
}
