#header {
  height: 300px;
  background: url("../assets/Images/header.jpg");
  background-attachment: fixed;
  background-position: 30% 100%;
  border-bottom: 2px lightgray solid;
  padding-top: 80px;
}

// home font animation
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

.font {
  position: absolute;
  font-size: 2rem;
  color: white;
  align-items: center;
  z-index: 1;
  cursor: pointer;
  left: 49%;
  top: 85%;
  transform: translate(-50%, -50%);
  animation: bounce 2s ease infinite;
}

// home
.homePage {
  width: 100%;
  padding-top: 0;
  margin-top: 0;
  background: url("../assets/Images/background.jpg") center/cover no-repeat
    fixed;
  height: 92vh;
  position: relative;
}
// service
.service {
  width: 100%;
  margin: 0;
  box-sizing: 0;
  padding: 0;
  min-height: 100vh;
}

@media all and (min-width: 772px) {
  .service {
    min-height: 60vh;
  }
}
@media all and (min-width: 992px) {
  .service {
    min-height: 45vh;
  }
}
// about
.about {
  margin: 0;
  box-sizing: 0;
  padding: 0;
  height: 10vh;
}

@media all and (max-width: 984px) {
  .about {
    min-height: 25vh;
  }
}

@media all and (max-width: 774px) {
  .about {
    min-height: 38vh;
  }
}
@media all and (max-width: 580px) {
  .about {
    min-height: 80vh;
  }
}

.profile {
  background: url("../assets/Images/profile.jpeg") center/cover no-repeat;
  border-radius: 45%;
  // background-position: 30%;
}

.footer {
  height: 30vh;
}
#main-body {
  min-height: 90vh;
}
// bootstrap class
.card-img-top {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}
// ckeditor

.ck {
  .ck-editor {
    min-width: 100%;
  }
}
.ck-editor__editable {
  max-height: 80rem;
  min-height: 20rem;
  min-width: 100rem;
}
.ck-editor__editable_inline {
  max-height: 80rem;
  min-height: 20rem;
  min-width: 100%;
}
html {
  width: 100vw;
  overflow-x: hidden;
}
textarea {
  resize: none;
}
