#header {
  height: 300px;
  background: url("../assets/Images/header.jpg");
  background-attachment: fixed;
  background-position: 30% 100%;
  border-bottom: 2px lightgray solid;
  padding-top: 80px;
}
